<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
       
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="part2.js"></script>
    </head>
    <body ng-app="store">
        <div ng-controller="StoreController as store">
            <blockquote ng-repeat="review in store.reviews">
                <b>Stars: {{review.stars}}</b>
                {{review.body}}
                <cite>by: {{review.author}}</cite>
            </blockquote>
            <form name="reviwForm" ng-controller="ReviewController as reviewCtrl"
                ng-submit="reviewCtrl.addReview()">
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                {{reviewCtrl.review.body}}
                <cite>by: {{reviewCtrl.review.author}}</cite>
                <select ng-model="reviewCtrl.review.stars">
                    <option value="1">*</option>
                    <option value="2">**</option>
                    <option value="3">***</option>
                    <option value="4">****</option>
                    <option value="5">*****</option>
                </select>
                <textarea ng-model="reviewCtrl.review.body">   </textarea>
                <label>by:</label>
                <input ng-model="reviewCtrl.review.author" type="email"/>
                <input type="submit" value="submit"/>
            </form>
            <div class="other">
                <input ng-model="review.terms" type="checkbox"/>I agree to the terms
                <label>What color would you like</label>
                <input ng-model="review.color" type="radio" value="red"/> red
                <input ng-model="review.color" type="radio" value="blue"/> blue
                <input ng-model="review.color" type="radio" value="green"/> green
            </div>
        
        </div>
    </body>
</html>